body, * {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, sans-serif;
  letter-spacing: 0em;
}

body {
  text-align: center;
  background: white;
  color: #585b59;
  background: #DDE1E8;
}

a, a:visited {
  color: #009cff;
}

#ribbon {
  padding: 1em;
  font-weight: bold;
  text-align: right;
}

#main, #doc {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

#main section {
  min-height: 200px;
  padding: 2em 3em;
}

#main section:not(.hero):nth-child(even) {
  background: #f4f7fb;
}

#doc {
  background: white;
  padding: 3em;
}

#doc #logo {
  margin-bottom: 1em;
}

#doc section {
  margin: 2em 0;
}

#doc ul {
  margin: 1em 3em;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

th, td {
  padding: 0.25em 2em 0.25em 0;
  text-align: left;
}

th {
  border-bottom: 1px solid #ccc;
}

h1, h2, h3 {
  color: #283577;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

p {
  margin-bottom: 1em;
}

p, li {
  line-height: 1.5em;
}

.hero {
  min-height: 350px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 3em;
}

.hero img {
  margin-bottom: 0.5em;
}

.hero p {
  max-width: 60%;
  font-size: 1.05em;
  line-height: 1.5em;
}

.features {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features li {
  margin-bottom: 1em;
  padding: 0.5em;
}

.features img {
  margin: 1em;
  width: 35%;
  min-width: 50px;
}

.duplex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.duplex div {
  margin: 0 2em 2em 0;
}

.duplex > img {
  margin-bottom: 1em;
}

ul {
  margin: 0 1em 1em 1em;
}

pre, code {
  font-family: Consolas, Courier, monospace;
  font-size: 0.95em;
  background: #eee;
  padding: 0.05em 0.25em;
}

pre {
  border: 1px solid #ddd;
  padding: 1em 0;
}

footer {
  margin-top: 5em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}