.mc-alert-scrim {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
}
.mc-alert-scrim[aria-hidden=true] {
  display: none;
}
.mc-alert-dialog {
  color: #304561;
  background-color: white;
  box-shadow: 0 0 7px #444;
  border-radius: 4px;
  padding: 1.5em;
  margin: 50px;
  text-align: center;
  display: inline-block;
  outline: none;
}
.mc-alert-dialog[data-level=warn] .mc-button,
.mc-alert-dialog[data-level=error] .mc-button {
  background: #e0002b;
}
.mc-alert-body {
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  min-height: 75px;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.4em;
}
.mc-alert-body input,
.mc-alert-body textarea {
  margin: .5em 0;
  background: #f8f8f8;
  max-width: 350px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: .9em;
  background: #7e8890;
}
body,
input,
select,
textarea,
button {
  font-family: Helvetica, Arial, sans-serif;
}
svg {
  outline: none;
}
h1,
h2,
h3,
h4 {
  font-family: Helvetica, Arial, sans-serif;
  color: #304561;
}
h1 {
  font-size: 1.65em;
  font-weight: normal;
  margin-bottom: .75em;
}
h2 {
  font-size: 1em;
  color: #0078bc;
  text-transform: uppercase;
  margin-top: .25em;
  margin-bottom: .6em;
}
h3,
h4 {
  font-size: 1em;
  margin-bottom: .5em;
}
h1 + p {
  margin: -0.75em 0 1.5em 0;
}
button {
  font-size: inherit;
  background: none;
  border: none;
}
button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
}
p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
  color: #0078bc;
}
a:visited,
button:visited {
  color: #0078bc;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
small {
  color: rgba(58, 54, 100, 0.5);
}
img {
  border: 0;
}
img[tabindex] {
  cursor: pointer;
}
.mc-hint {
  border-bottom: 1px dashed #ccc;
  cursor: default;
}
#mc-header {
  background: white;
  padding: .6em;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}
#mc-content {
  background: #f8f8f8;
  min-height: 500px;
  padding: 2em;
}
#mc-footer {
  color: white;
  font-size: .8em;
  padding: 2em 2em 4em 2em;
}
#mc-footer ul {
  margin-bottom: .75em;
}
#mc-footer li {
  display: inline;
}
#mc-footer li:not(:last-child) {
  padding-right: 0.8em;
  margin-right: 0.4em;
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}
#mc-footer a {
  color: white;
}
#mc-env {
  visibility: hidden;
  color: white;
  background: #7ac724;
  font-size: .8em;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5em;
  text-transform: uppercase;
}
#mc-feedback {
  font-size: .8em;
  visibility: hidden;
  position: fixed;
  right: 15px;
  bottom: 0;
  border-radius: 4px 4px 0 0;
  background: #ff8309;
}
#mc-feedback button {
  font-size: 1.1em;
  padding: .5em .75em;
  color: white;
}
#mc-feedback button:active {
  padding-bottom: .35em;
}
@media print {
  #mc-header {
    padding: 0;
    margin-bottom: 2em;
  }
  #mc-content {
    padding: 0;
  }
  #mc-footer {
    padding: 1em 0 0 0;
  }
}

.mc-blast {
  text-align: center;
  background: #0078bc;
  color: white;
  padding: 0.65em 3em;
}
.mc-blast > div {
  display: inline-block;
}
.mc-blast[data-level=warn],
.mc-blast[data-level=error] {
  background: #ff3b00;
}
.mc-blast[data-follow=true] .mc-blast-body {
  cursor: pointer;
  text-decoration: underline;
}
.mc-blast-close {
  position: absolute;
  top: 6px;
  right: 6px;
}

.mc-blip {
  display: inline-block;
}
.mc-blip[data-effect=blink] svg {
  animation: blip_blink 1s steps(1) infinite;
}
@keyframes blip_blink {
  from {
    opacity: 1;
    filter: grayscale(0%);
  }
  50% {
    opacity: 0.45;
    filter: grayscale(100%);
  }
}

.mc-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  font-family: Helvetica;
  position: relative;
  cursor: pointer;
  padding: .75em 1.25em;
  color: white;
  background: #0078bc;
  border-radius: 25px;
  margin: 0 .25em;
  line-height: 1em;
}
.mc-button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}
.mc-button:not([disabled]):active {
  top: 1px;
}
.mc-button:hover {
  text-decoration: none;
}
.mc-icon-button {
  background: none;
  border: 0;
  border-radius: 0;
  display: inline-block;
  padding: 4px;
  line-height: 0;
}
.mc-icon-button img,
.mc-icon-button svg,
.mc-icon-button span {
  pointer-events: none;
  vertical-align: middle;
}
.mc-icon-button span {
  margin-left: .5em;
  vertical-align: middle;
}
.mc-icon-button + button {
  margin-left: 4px;
}
.mc-icon-button[disabled] {
  opacity: 0.25;
  cursor: default;
  border: 0 !important;
  pointer-events: none;
}
.mc-icon-button[aria-pressed=false] {
  opacity: 0.25;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.mc-icon-button[data-weight=bold] {
  font-weight: bold;
}
.mc-icon-button:not([disabled]):not([data-display=text]) {
  cursor: pointer;
}
.mc-icon-button:not([disabled]):not([data-display=text]):hover img,
.mc-icon-button:not([disabled]):not([data-display=text]):hover svg {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.mc-icon-button:not([disabled]):not([data-display=text]):active img,
.mc-icon-button:not([disabled]):not([data-display=text]):active svg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.mc-icon-button[data-display=text]:hover {
  text-decoration: underline !important;
}
.mc-check {
  display: inline-block;
  color: #009cff;
  cursor: pointer;
  margin: 0.25em 0.5em;
}
.mc-check input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url("../img/mc/icon.check.circle.0.svg");
  background-size: 2.5em 2.5em;
  background-repeat: no-repeat;
  width: 2.5em;
  height: 2.5em;
}
.mc-check input:checked {
  background-image: url("../img/mc/icon.check.circle.1.svg");
}
.mc-check[data-size=medium] input {
  background-size: 1.75em 1.75em;
  width: 1.75em;
  height: 1.75em;
}
.mc-check[data-size=small] input {
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}
.mc-check[data-size=xsmall] input {
  background-size: 1.2em 1.2em;
  width: 1.2em;
  height: 1.2em;
}
.mc-check[data-shape=square] input {
  background-image: url("../img/mc/icon.check.square.0.svg");
}
.mc-check[data-shape=square] input:checked {
  background-image: url("../img/mc/icon.check.square.1.svg");
}
.mc-check span {
  vertical-align: middle;
}

.mc-calendar {
  white-space: nowrap;
}
.mc-calendar-page {
  display: inline-block;
  margin: 0.5em;
}
.mc-calendar-page div:nth-child(1) {
  font-weight: bold;
  color: #304561;
  text-align: center;
}
.mc-calendar-page div:nth-child(2) {
  font-size: 0.8em;
  text-align: center;
  margin: 0.4em 0;
}
.mc-calendar-page div:nth-child(2) span {
  display: inline-block;
  width: 14.285%;
}
.mc-calendar-page g rect {
  fill: none;
}
.mc-calendar-page g[data-day] rect {
  fill: #e8e8e8;
  stroke: white;
  stroke-width: 2;
}
.mc-calendar-page g[data-ts] rect {
  cursor: pointer;
}
.mc-calendar-page g[data-ts]:hover circle {
  fill: #7ac724;
}
.mc-calendar-page g[data-ts]:active circle {
  transform: scale(0.75);
}
.mc-calendar-page g[data-selected=true] circle {
  fill: #7ac724;
}
.mc-calendar-page g circle {
  pointer-events: none;
  fill: #009cff;
  transform-origin: 11px 11px;
}

.mc-card {
  background: white;
  padding: 1em 1em 2em 1em;
  border-radius: 4px;
  margin-bottom: 2em;
  min-height: 250px;
  border: 1px solid #e8e8e8;
}
@media print {
  .mc-card {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.mc-chart {
  vertical-align: top;
  margin: 0 1em 1em 0;
}
.mc-legend {
  vertical-align: middle;
  color: #7e8890;
  font-size: .9em;
}
.mc-legend[data-flow=across] li {
  display: inline-block;
  margin-right: 1em;
}
.mc-legend[data-flow=down] {
  display: inline-block;
}
.mc-legend[data-flow=down] li {
  margin-bottom: 0.25em;
}
.mc-legend svg {
  margin-right: 5px;
}
.mc-legend li {
  white-space: nowrap;
}
.mc-legend li[role=checkbox] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.mc-legend li[aria-checked=false] {
  opacity: 0.4;
  filter: grayscale(100%);
  text-decoration: line-through;
}

.mc-date-picker {
  text-align: center;
  margin: .25em;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.mc-date-picker h4 {
  margin: .65em 1em;
  cursor: default;
}
.mc-date-picker table {
  margin: .5em;
  font-size: inherit;
}
.mc-date-picker th {
  font-weight: normal;
  font-size: .85em;
  color: #7e8890;
}
.mc-date-picker th,
.mc-date-picker td {
  text-align: center;
  padding: 0;
}
.mc-date-picker td {
  background: #fafafa;
  width: 30px;
  height: 30px;
}
.mc-date-picker td[aria-disabled=true] {
  color: #e2e2e2;
  cursor: not-allowed;
}
.mc-date-picker td[aria-disabled=false] {
  cursor: pointer;
  background: #eff2f7;
  color: #0078bc;
}
.mc-date-picker td[aria-disabled=false]:hover {
  background: #d3dff3;
}
.mc-date-picker td[data-selected=true] {
  background: #009cff !important;
  color: white !important;
}
.mc-date-picker td[data-today=true] {
  background: #d3dff3;
}
.mc-date-picker td[data-tooltip] {
  color: white;
}
.mc-date-picker-page {
  display: inline-block;
}
.mc-date-picker-nav button:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.mc-date-picker-nav button:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.mc-drop-calendar {
  white-space: nowrap;
  font-size: 1em;
}

.mc-drop {
  display: inline-block;
  vertical-align: middle;
}
.mc-drop[data-align=right] .mc-drop-reveal {
  margin-left: 30px;
  transform: translateX(-100%);
}
.mc-drop-target {
  cursor: pointer;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.mc-drop-reveal {
  position: absolute;
  z-index: 2000;
  text-align: left;
  margin-top: 8px;
}
.mc-drop-reveal[aria-hidden=true] {
  display: none;
}
.mc-drop-handle {
  font-weight: bold;
  color: #0078bc;
  padding: .5em .75em;
  white-space: nowrap;
  position: relative;
}
.mc-drop-handle:after {
  margin-left: .75em;
  content: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiCiAgIHZpZXdCb3g9IjAgMCAxMCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTAiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiPgogIDxwb2x5bGluZQogICAgcG9pbnRzPSIxLDMgNSw4IDksMyIKICAgIGZpbGw9Im5vbmUiCiAgICBzdHJva2U9IiMzNDcyQjkiCiAgICBzdHJva2Utd2lkdGg9IjIiCiAgICBzdHJva2UtbGluZWNhcD0icm91bmQiCiAgICBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz4KPC9zdmc+Cg==");
  display: inline-block;
  vertical-align: top;
}
.mc-drop-handle:active {
  top: 1px;
}
.mc-drop-content {
  background: white;
  box-shadow: 0 0 0 4px rgba(104, 105, 160, 0.15);
  border-radius: 4px;
  min-width: 100px;
  padding: .5em;
  font-size: 0.9em;
}

.mc-error-view {
  text-align: center;
  font-weight: bold;
  padding: 3em;
}
.mc-error-view h1 {
  font-size: 1.4em;
}
.mc-error-view img {
  margin-bottom: 25px;
}

.mc-form {
  margin-bottom: .75em;
  border-collapse: collapse;
}
.mc-form th,
.mc-form td {
  padding: 0 2em 0.75em 0;
  text-align: left;
  vertical-align: top;
}
.mc-form th {
  font-size: .9em;
  padding-top: 0.5em;
  white-space: nowrap;
}
.mc-form input,
.mc-form select {
  margin: 0 .5em .5em 0;
}
.mc-form-row {
  margin-bottom: 1.5em;
}
.mc-form-cell {
  display: inline-block;
  margin-right: 1.5em;
  vertical-align: top;
}
.mc-form-label {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
input[type=text],
input[type=password],
input[type=number],
textarea {
  font-size: 1em;
  padding: .5em;
  border: 1px solid #ccc;
}
input[type=text]:invalid,
input[type=password]:invalid,
input[type=number]:invalid,
textarea:invalid {
  box-shadow: 0 0 0 1px red;
}
input[type=number] {
  width: 75px;
}
input[type=radio] {
  margin-right: .5em;
  vertical-align: top;
}
input[type=range] {
  margin-right: 1em;
  vertical-align: top;
}
input[type=search] {
  border: 1px solid #ccc;
  font-size: 1em;
  padding: .6em .4em;
  border-radius: 25px;
  -webkit-appearance: none;
}
input[type=checkbox] {
  margin-right: 0.5em;
  vertical-align: middle;
}
select {
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  border: 1px solid #ccc;
  background: white;
  margin-right: .5em;
}
label {
  margin-right: 0.5em;
}
.mc-form-feedback {
  color: red;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.mc-form-controls {
  margin-top: 2em;
  white-space: nowrap;
}
.mc-cancel {
  background: none;
  color: #0078bc;
}
.mc-delete {
  background: none;
  color: #e0002b;
  font-weight: bold;
}
.mc-form-files > div {
  border: 1px dashed #999;
  padding: 1em;
  min-height: 100px;
  margin-bottom: 0.5em;
}
.mc-form-files > div[data-dragging=true] {
  background: #ebf7ff;
}
.mc-form-files input {
  display: none;
}
.mc-form-files li {
  margin: 1em 0;
}
.mc-form-files li > span {
  pointer-events: auto;
  padding: 0.35em 0.65em 0.5em 0.65em;
  background: #f0f6f9;
  border: 1px solid #aad6ed;
  border-radius: 1em;
}
.mc-form-files li > span span {
  vertical-align: middle;
}
.mc-form-files-target {
  pointer-events: none;
}
.mc-form-files-target > small {
  margin-bottom: 1em;
}
.mc-form-files-add {
  font-size: 0.9em;
}

.mc-help-view header {
  text-align: center;
  margin-bottom: 1em;
}
.mc-help-view section {
  margin-bottom: 2em;
}
.mc-help-view h1 {
  text-align: center;
  margin-bottom: 1.5em;
}
.mc-help-view h2 {
  color: #304561;
  font-size: 1.1em;
  margin: 1.5em 0 1em 0;
  text-transform: none;
}
.mc-help-view dl {
  margin-bottom: 1em;
  line-height: 1.5em;
}
.mc-help-view dt {
  font-weight: bold;
}
.mc-help-view dd {
  margin-bottom: 1em;
}

.mc-sidebar-layout > div {
  display: inline-block;
  vertical-align: top;
}
.mc-sidebar-layout > div:first-child {
  width: calc(100% - 260px);
}
.mc-sidebar-layout > div:last-child {
  width: 260px;
  padding-left: 20px;
}
.mc-sidebar-layout > div:last-child section {
  padding-bottom: 1.25em;
  margin-bottom: 1.25em;
}
.mc-sidebar-layout > div:last-child section:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
.mc-split-layout {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.mc-sticky {
  position: sticky;
  top: 25px;
}
@media print {
  .mc-sidebar-layout > div {
    display: block;
    width: auto !important;
    padding: 0 !important;
  }
}

.mc-legal-view {
  text-align: left;
}
.mc-legal-view h1,
.mc-legal-view h2,
.mc-legal-view h3,
.mc-legal-view h4 {
  color: black;
}
.mc-legal-view header,
.mc-legal-view h1 {
  text-align: center;
  margin-bottom: 1em;
}

.mc-meter rect[data-animate=true] {
  transition: width 500ms, fill 250ms;
}

.mc-modal-scrim {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  transition: opacity 150ms ease-out;
}
.mc-modal-scrim[aria-hidden=true] {
  display: none;
}
.mc-modal-dialog {
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 0 7px #444;
  outline: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  transform-style: preserve-3d;
  border-radius: 4px;
}
.mc-modal-close {
  position: fixed;
  text-align: right;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 0;
  padding: 0;
}
.mc-modal-close button {
  margin: 10px 8px;
  padding: 12px;
}
.mc-modal-body {
  padding: 1.5em 3em 2em 1.75em;
  transform: translate3d(0, 0, 0);
}
.mc-modal-body[data-align=center] {
  padding: 1.5em 1.75em;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: middle;
}
@media print {
  .mc-modal-scrim {
    position: static;
    background: none;
  }
  .mc-modal-dialog {
    position: static;
    overflow: visible;
    box-shadow: none;
    display: block;
    margin: 0 !important;
    width: 100% !important;
  }
  .mc-modal-body {
    padding: 0;
  }
}

.mc-orderable {
  margin-bottom: 1em;
}
.mc-orderable img {
  pointer-events: none;
}
.mc-orderable-item {
  padding: .5em 0;
  border: 1px solid transparent;
  white-space: nowrap;
}
.mc-orderable-item[data-dragging=true] {
  background: #eee;
  opacity: 0.75;
}
.mc-orderable-item[data-targeted=before] {
  border-top: 1px dashed black;
}
.mc-orderable-item[data-targeted=after] {
  border-bottom: 1px dashed black;
}
.mc-orderable-handle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDIwIDE2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA0MS4yICgzNTM5NykgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+bW92ZTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMzkuMDAwMDAwLCAtMzQ2LjAwMDAwMCkiIGlkPSJpY29uIiBmaWxsPSIjOUI5QjlCIj4KICAgICAgICAgICAgPHBhdGggZD0iTTE0My45MDAwNDMsMzUxLjc3ODc5MSBMMTQ5LDM0Ni41IEwxNTQuMDk5OTU3LDM1MS43Nzg3OTEgTDE0My45MDAwNDMsMzUxLjc3ODc5MSBaIE0xNDMuOTAwMDQzLDM1NS41IEwxNDksMzYwLjc3ODc5MSBMMTU0LjA5OTk1NywzNTUuNSBMMTQzLjkwMDA0MywzNTUuNSBaIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: 5px 8px;
  background-size: 20px 15px;
  cursor: move;
  width: 36px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.mc-orderable-handle:active {
  transform: scale(0.9);
}
.mc-orderable-content {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  width: calc(100% - 50px);
}

.mc-plot {
  display: block;
  font: 11px Helvetica, sans-serif;
}
.mc-plot > g > rect {
  stroke: rgba(0, 0, 0, 0.12);
  stroke-width: 0.5;
}
.mc-plot-x-axis {
  font: 12px Helvetica, sans-serif;
  pointer-events: none;
}
.mc-plot-x-axis line {
  stroke: rgba(0, 0, 0, 0.12);
  stroke-dasharray: 5, 3;
}
.mc-plot-x-axis path {
  display: none;
}
.mc-plot-x-axis text {
  text-anchor: middle;
}
.mc-plot-x-axis-nav {
  cursor: zoom-in;
}
.mc-plot-x-axis-nav > g {
  visibility: hidden;
  pointer-events: none;
}
.mc-plot-x-axis-nav text {
  fill: white;
  text-anchor: middle;
}
.mc-plot-y-axis {
  font: 12px Helvetica, sans-serif;
  pointer-events: none;
}
.mc-plot-y-axis line {
  stroke: rgba(0, 0, 0, 0.12);
  stroke-dasharray: 5, 3;
}
.mc-plot-y-axis path {
  display: none;
}
.mc-plot-line path {
  fill: none;
  pointer-events: none;
}
.mc-plot-line circle {
  pointer-events: none;
}
.mc-plot-download {
  cursor: pointer;
  opacity: 0.15;
}
.mc-plot-download:hover {
  opacity: 0.75;
}

.mc-print {
  visibility: hidden;
}
@media print {
  .mc-screen {
    display: none !important;
  }
  .mc-print {
    visibility: visible !important;
  }
  body,
  #mc-content {
    background: white;
  }
}

.mc-pulse {
  text-align: center;
}
.mc-pulse svg {
  animation: _spin 0.8s infinite linear;
}
@keyframes _spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mc-quick-search input {
  padding: 0.75em;
}

.mc-slider input[type=range] {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  margin: 4px 10px 4px 0;
  vertical-align: middle;
}
.mc-slider input[type=range][disabled] {
  opacity: 0.25;
  cursor: default;
  pointer-events: none;
}
.mc-slider input[type=range]:focus {
  outline: none;
}
.mc-slider input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 20px;
  background: #e8e8e8;
}
.mc-slider input[type=range]::-moz-range-track {
  height: 6px;
  border-radius: 20px;
  background: #e8e8e8;
}
.mc-slider input[type=range]::-ms-track {
  height: 6px;
  border-color: transparent;
  color: transparent;
  border-radius: 18px;
  background: #e8e8e8;
}
.mc-slider input[type=range]::-ms-fill-lower,
.mc-slider input[type=range]::-ms-fill-upper {
  background: none;
}
.mc-slider input[type=range]::-webkit-slider-thumb {
  border: 5px solid #009cff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  -webkit-appearance: none;
  margin-top: -5px;
}
.mc-slider input[type=range]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}
.mc-slider input[type=range]::-moz-range-thumb {
  border: 5px solid #009cff;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: white;
}
.mc-slider input[type=range]::-moz-range-thumb:active {
  transform: scale(1.2);
}
.mc-slider input[type=range]::-ms-thumb {
  border: 5px solid #009cff;
  border-radius: 50%;
  background: white;
}
.mc-slider span {
  display: block;
}

.mc-spinner {
  pointer-events: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: .5em;
  opacity: 0.8;
  border-radius: 2px;
  background: #e0002b;
  z-index: 11000;
  -webkit-transition: opacity 150ms linear;
  -moz-transition: opacity 150ms linear;
  -ms-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}
.mc-spinner[aria-hidden=true] {
  opacity: 0;
}

.mc-table {
  width: 100%;
  border-collapse: collapse;
  font-size: inherit;
  margin-bottom: 1em;
}
.mc-table thead {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #333;
  font-size: .9em;
  border-bottom: 1px solid #f8f8f8;
  white-space: nowrap;
}
.mc-table tbody {
  background: white;
}
.mc-table tbody tr {
  vertical-align: top;
}
.mc-table tbody tr:nth-child(odd) {
  background: #f8f8f8;
}
.mc-table th[data-sortable='true'] {
  cursor: pointer;
  color: #0078bc;
}
.mc-table th[data-sortable='true']:hover {
  background: #eee;
}
.mc-table th[data-sorted]:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCgk8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMzQ3MkI5IiBzdHJva2Utd2lkdGg9IjE1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSI2NS44LDIwLjkgODYuMSw0OS42IDE1LjIsNDkuNiIvPg0KDQoJPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzM0NzJCOSIgc3Ryb2tlLXdpZHRoPSIxNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iNjUuOCw3OC4zIDg2LjEsNDkuNiAxNS4yLDQ5LjYiLz4NCjwvc3ZnPg0K");
  display: inline-block;
  margin-left: .35em;
  width: 12px;
  height: 12px;
  line-height: 1em;
  -webkit-transition: transform 125ms linear;
  -moz-transition: transform 125ms linear;
  -ms-transition: transform 125ms linear;
  transition: transform 125ms linear;
}
.mc-table th[data-sorted='1']:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mc-table th[data-sorted='-1']:after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.mc-table th,
.mc-table td {
  text-align: left;
  padding: .6em 1em .6em .6em;
}
.mc-table td img {
  display: inline-block;
  vertical-align: text-bottom;
}
.mc-table td[data-clip=true] {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mc-table[data-align=middle] tbody tr {
  vertical-align: middle;
}
.mc-props {
  border-collapse: collapse;
}
.mc-props th,
.mc-props td {
  padding: 0 2em 1em 0;
  vertical-align: top;
}
.mc-props th {
  text-align: left;
  font-size: .9em;
  white-space: nowrap;
}
@media print {
  .mc-table th,
  .mc-table td {
    padding: .25em 0;
    border-bottom: 1px solid #ddd;
    white-space: normal;
    overflow: visible;
  }
}

.mc-tabs {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.mc-tabs li {
  display: inline-block;
}
.mc-tabs li[aria-checked=true] button,
.mc-tabs li[aria-selected=true] button {
  color: white;
  background: #009cff;
}
.mc-tabs li[aria-checked=true] button img,
.mc-tabs li[aria-selected=true] button img {
  filter: brightness(0) invert(100%);
}
.mc-tabs button {
  cursor: pointer;
  font-family: Helvetica;
  color: #009cff;
  margin: 0 .15em;
  padding: .30em 0.5em;
  border-radius: 2px;
}
.mc-tabs button img,
.mc-tabs button span {
  display: inline-block;
  vertical-align: middle;
}
.mc-tabs button img {
  margin: 0.15em 0.35em 0.15em 0;
  pointer-events: none;
}
.mc-tabs button[disabled] {
  opacity: 0.25;
  cursor: default;
}
.mc-tabs[data-rounded=true] button {
  padding: .35em 0.75em;
  border-radius: 2em;
}

.mc-toggle {
  width: 65px;
  height: 28px;
  border-radius: 15px;
  padding: 3px 8px;
  color: white;
  background: #ddd;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
  transition: background 100ms linear;
}
.mc-toggle span {
  display: inline-block;
  background: white;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: left 100ms linear;
}
.mc-toggle[aria-pressed=true] {
  text-align: left;
  background: #2aceba;
}
.mc-toggle[aria-pressed=true] span {
  left: 41px;
}
.mc-toggle[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

.mc-tooltip {
  position: absolute;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 8px 9px 6px 9px;
  border-radius: 3px;
  font-size: .85em;
  pointer-events: none;
  white-space: nowrap;
}
.mc-tooltip[aria-hidden=true] {
  visibility: hidden;
}
.mc-tooltip[data-orient=top]:after {
  border-top: 5px solid rgba(0, 0, 0, 0.75);
  bottom: -10px;
}
.mc-tooltip[data-orient=bottom]:after {
  border-bottom: 5px solid rgba(0, 0, 0, 0.75);
  top: -10px;
}
.mc-tooltip[data-align=right]:after {
  left: auto;
  right: 12px;
}
.mc-tooltip:after {
  position: absolute;
  border: 5px solid transparent;
  left: 50%;
  margin-left: -5px;
  content: " ";
}
[data-tooltip] * {
  pointer-events: none;
}
a[data-tooltip] * {
  pointer-events: auto;
}



/*# sourceMappingURL=mc.css.map*/